@model RestauranteViewModel
<div class="card">
    <div class="card-header">
        @ViewData["Accion"] restaurante
    </div>
    <div class="card-body">
        <form asp-action="@ViewData["Accion"]" asp-antiforgery="true">
            <div class="text-danger">
                @Html.ValidationSummary(true)
            </div>
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input class="form-control" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio"></label>
                <input class="form-control" asp-for="Domicilio" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Telefono"></label>
                <input class="form-control" asp-for="Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PaginaWeb"></label>
                <input class="form-control" asp-for="PaginaWeb" />
                <span asp-validation-for="PaginaWeb" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="HoraDeCierre"></label>
                <input class="form-control" asp-for="HoraDeCierre" />
                <span asp-validation-for="HoraDeCierre" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

@section Scripts{

@*@Html.Partial("_ValidationScriptsPartial")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=">
    </script>
}